@{
  Layout = "_Layout";
}

@section scripts
{
}

<body>
  <h1>Patron ID not Found.</h1><br>
  <a href="/patron/add">Add New Patron</a><br>
  <a href="/book/@Model/checkout">Back to Previous Page</a>
</body>
