<h1>The Library of Seattle</h1>

<a href="/book/add">Add Book</a><br>
<a href="/book/view-all">View Books</a><br>
<a href="/patron/add">Add Patron</a><br>
<a href="/patron/view-all">View Patrons</a><br>
<a href="/borrowed-books/list">View Borrowed Books</a>
